@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Antonio:wght@100&family=Fjalla+One&family=Oswald:wght@200;700&family=Voltaire&family=Wire+One&family=Lobster&family=Neonderthaw&display=swap");

.backgroundContainerOne {
    background-image: url('../img/container4.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.handWrite {
   
    font-family: "Shadows Into Light", cursive;
    font-size: 3vh;
    line-height: 1.2;
    margin: 5%;
    overflow-wrap: break-word;
}

@media (min-width: 768px){
  

    .backgroundImage {
        height: 10vw
    }
}