@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

.sayHelloParagraph {

    font-family: "Shadows Into Light", cursive;
    font-size: 4vh;
    color: yellow;
    overflow-wrap: break-word;
    margin: auto;
}

@media (max-width: 768px){
    .sayHelloParagraph {
        font-size: 4vh;
        
}}
