@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&Caveat:wght@200&family=Antonio:wght@100&family=Fjalla+One&family=Oswald:wght@200;700&family=Wire+One&display=swap");

/* -------------- mobile structure ------------- */

h2 {
    font-family: "Antonio", sans-serif;
    color: bisque;
    font-size: 23vw;
    z-index: 1;
    white-space: nowrap;
}
html {
    scroll-snap-type: y mandatory;
}

button {
    all: unset;
}

.hiddenContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    padding-right: 5vw;
}

/* -----estilos de la pagina principal  del inicio ----*/

.initBackgroundContainer {
    height: 100vh;
    background-image: url(../img/background.mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.initContentContainer {
    width: 95%;
    height: 70vh;
    margin: auto;
    display: grid;
    align-content: end;
}

.designDeveloperTitle {
    font-size: 23vw;
}

.noPolitePhraseContainer {
    width: 85vw;
    margin-left: 2.5%;
    transform: rotate(-2deg);
}

.enIngles{
    font-family: "Wire one", sans-serif;
    color: bisque;
    font-size: 3.5vh;
    padding-left: 1vw;
}

/*------ pagina about  ------ */

.aboutMainContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.titleAboutMeContainer {
    display: flex;
    width: fit-content;
}

.cancelLine {
    height: 15vh;
    position: absolute;
    width: 85vw;
    z-index: 2;
}

.hacerPorTiContainer {
    width: 90vw;
    margin-left: 4vw;
}

.handWriteToAddIdeas {
    font-family: "Shadows Into Light", cursive;
    font-size: 3vh;
    white-space: nowrap;
    color: yellow;
    transform: rotate(-1deg);
}

.aboutContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

.backgroundContainerAboutOne {
    background-image: url("../img/container4.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.backgroundContainerAboutTwo {
    background-image: url("../img/container3.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.backgroundContainerAboutThree {
    background-image: url("../img/container2.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aboutContentBottomContainer {
    display: flex;
    justify-content: end;
    margin-top: 5vw;
}

.arrowsAbout {
    height: 5vh;
}

.handWrite {
    font-family: "Shadows Into Light", cursive;
    font-size: 3vh;
    line-height: 1.2;
    padding: 5%;
    margin-left: 1vh;
}

.designerExplanationContainer {
    background-color: rgba(47, 79, 79, 0.3);
    font-family: "Wire one", sans-serif;
    font-size: 3.5vh;
    padding: 5%;
    width: 90vw;
    margin-top: 2vh;
    border-radius: 10px;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    border: 1px solid whitesmoke;
}

.buttonToCv {
    color: burlywood;
    white-space: break-spaces;
    text-decoration: none;
    transition: color 0.6s ease;
    &:hover {
        color: yellow;
        cursor: pointer;
    }
}

/* ----- estilos de pagina de portafolio ----- */

.worksMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.worksPortfolioLinkContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.worksSpeechContainer {
    padding: 3%;
    background-color: rgba(47, 79, 79, 0.3);
    border-radius: 10px;
    line-height: 1.2;
    font-family: "Wire one", sans-serif;
    font-size: 3.5vh;
    border: 1px solid whitesmoke;
    width: 90vw;
    margin-top: 2vh;
}


.worksButton {
    font-family: "Fjalla One", sans-serif;
    color: burlywood;
    text-decoration: none;
    margin-top: 2vh;
    gap: 2vh;
    font-size: 7vh;
    white-space: nowrap;
    transition: color 1s ease;
    &:hover {
        cursor: pointer;
        color: yellow;
    }
}

.worksExplanationLine {
    font-family: "Oswald", sans-serif;
    font-size: 2.5vh;
    white-space: nowrap;
}

/* ------estilos de contacto ------ */

.contactMainContainer {
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    scroll-snap-align: end;
    scroll-snap-stop: always;
}

.iconLinkNetworksContainer {
    display: flex;
    flex-direction: column;
}

.divIconLinkNetworks {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
}

.buttonLinkNetworks {
    font-family: "Wire One", sans-serif;
    font-size: 4vh;
    text-decoration: none;
    color: #faebd7;
    transition: color 0.8s ease;
    &:hover {
        color: yellow;
        cursor: pointer;
    }
}

.reactIcons {
    color: #faebd7;
    font-size: 4vh;
}

@media (min-width: 768px) {
    h2 {
        font-size: 9vw;
    }

    .handWriteToAddIdeas {
        margin-top: 7vh;
        font-size: 6vh;
    }

    /* ---- init page ---- */

    .initBackgroundContainer {
        height: 100vh;
        background-image: url(../img/fondo2.jpg);
        background-size: 100%;
        display: grid;
        grid-template-columns: 2.2fr 1fr;
    }

    .initContentContainer {
        width: 60vw;
        margin-left: 2vw;
    }

    .designDeveloperTitle {
        font-size: 16vw;
    }

    .noPolitePhraseContainer {
        display: grid;
        align-content: end;
        justify-content: start;
        margin-bottom: 8vw;
        transform: translateX(-7vw);
        width: 15vw;
    }

    /* ---- about ---- */

    .aboutContentContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .titleAndPharseFullContainer {
        display: flex;
        flex-direction: row;
    }

    .cancelLine {
        position: absolute;
        height: 27vh;
        width: 35vw;
    }

    .hacerPorTiContainer {
        margin-top: 10vh;
        width: fit-content;
    }

    .handWriteToAddIdeas {
        font-size: 4vh;
    }

    .handWrite {
        width: 23vw;
        padding: 5%;
        margin-left: 1vw;
        font-size: 3.7vh;
    }

    .arrowsAbout {
        transform: rotate(-90deg);
        height: 8vw;
    }
    .aboutContentBottomContainer {
        margin-top: 3vh;
    }

    .designerExplanationContainer {
        width: 40vw;
        justify-self: end;
        margin-top: 0;
        padding: 2%;
        scroll-snap-align: none;
        scroll-snap-stop: normal;
        font-size: 4.5vh;
    }

    /* ---- works ---- */

    .worksMainContainer {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding-top: 10vh;
    }
    
    .worksSpeechContainer {
        font-size: 4vh;
        margin-top: 5vh;
        width: 50vw;
    }

    .worksButton {
        font-size: 10vh;
    }
    .worksExplanationLine {
        font-size: 3vh;
    }


    .worksPortfolioLinkContainer {
        justify-content: center;
    }

    /* ---- contact ----*/

    .contactMainContainer {
        position: relative;
        display: flex;
        align-items: end;
    }

    .iconLinkNetworksContainer {
        width: 75vh;
        margin-right: 10vw;
    }

    .hiddenContactContainer {
        position: absolute;
        overflow: hidden;
        rotate: 270deg;
        left: 0vw;
    }

    .buttonLinkNetworks {
        font-size: 6vh;
    }

    .reactIcons {
        font-size: 6vh;
    }
}
